gisa-gauge{
    -GisaGauge-value-color:rgb(23, 130, 172); 
    -GisaGauge-base-stroke-color:rgb(6, 83, 102);
    -GisaGauge-base-fill-color:rgb(255, 255, 255);
    -GisaGauge-value-text-color: rgb(46, 54, 61);
}